.user-orders {
  padding: 7px;
}

.order-container {
  display: flex;
  flex-direction: row;
  gap: 13px;
  max-width: 60%;
  margin: 2em auto;
  padding: 7px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-family: Arial, sans-serif;
}

.heading {
  max-width: 300px;
  margin: 2em auto;
}

.order-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.order-item {
  padding: 8px 0;
  border-bottom: 1px solid #ccc;
}

.product-info {
  display: flex;
  align-items: center;
}

.product-image {
  width: 120px;
  height: 120px;
  border-radius: 8px;
  overflow: hidden;
  margin-right: 16px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.product-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.item-name {
  flex: 2;
  font-weight: bold;
  color: #2196f3;
  margin-bottom: 1rem;
}

.quantity {
  margin: 0 4px;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.order-details-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;

  mat-card {
    max-width: 500px;
    width: 100%;
    padding: 8px;

    mat-card-header {
      background-color: #3f51b5;
      color: white;
      padding: 5px;
    }

    mat-card-title {
      font-size: 20px;
    }

    mat-card-content {
      display: flex;
      flex-direction: column;

      .order-detail {
        display: flex;
        justify-content: space-between;
        margin: 10px 0;

        strong {
          font-weight: bold;
          flex-grow: 1;
          text-align: right;
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .order-container {
    flex-direction: column;
    gap: 10px;
    max-width: 80%;
  }
}
