<form
  [formGroup]="searchProductForm"
  class="search-form"
  (submit)="submitForm()"
>
  <mat-form-field appearance="outline" class="search-input">
    <mat-label>Enter Keyword to search</mat-label>
    <input matInput type="text" placeholder="Name" formControlName="title" />
  </mat-form-field>

  <button
    mat-raised-button
    color="primary"
    type="submit"
    [disabled]="searchProductForm.invalid"
  >
    <mat-icon>search</mat-icon>
  </button>
</form>

<div class="product-list">
  <mat-card class="product-card" *ngFor="let product of products">
    <div class="product-image">
      <app-carousel [slides]="product.images"></app-carousel>
    </div>
    <div class="rating-container">
      <mat-icon
        *ngFor="let star of [1, 2, 3, 4, 5]"
        [ngClass]="{
          filled: rating >= star || averageRating >= star,
          selected: rating >= star
        }"
        (click)="addRating(product.productId, star)"
      >
        stars
      </mat-icon>
    </div>
    <p class="average-rating">
      Average Rating: {{ product.rating | number : "1.0-1" }} / 5
    </p>

    <div class="product-details">
      <h2 class="product-name">{{ product.productName }}</h2>
      <p class="product-description">{{ product.description }}</p>

      <mat-divider></mat-divider>
      <div class="product-info">
        <div class="info-row">
          <span class="info-lable">Price:</span>
          <span class="info-value">${{ product.price }}</span>
          <span *ngIf="product.isActive" class="promotion-price"
            >${{ product.priceInPromotion }}</span
          >
        </div>
        <div class="info-row">
          <span class="info-lable">Category:</span>
          <span class="info-value">{{ product.categoryName }}</span>
        </div>
        <div *ngIf="product.isActive" class="badge">Promotion</div>
      </div>
      <div *ngIf="product.isActive">
        <span>The discount is active to </span>
        <span>{{ product.endDate }}</span>
      </div>
      <mat-divider></mat-divider>
      <div class="actions">
        <button
          mat-raised-button
          color="primary"
          class="update-button"
          (click)="addToCart(product.productId)"
        >
          Add to Cart
        </button>
      </div>
    </div>
  </mat-card>
</div>
