.search-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 7rem;

  .search-input {
    width: 100%;
    max-width: 450px;
    margin-bottom: 20px;

    mat-label {
      font-size: 16px;
    }

    mat-icon {
      font-size: 24px;
    }

    input {
      font-size: 16px;
    }

    button {
      font-size: 16px;
    }
  }
}

.order-details-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  padding: 12px;

  mat-card {
    max-width: 500px;
    width: 100%;
    padding: 20px;

    mat-card-header {
      background-color: #3f51b5;
      color: white;
    }

    mat-card-title {
      font-size: 20px;
    }

    mat-card-content {
      display: flex;
      flex-direction: column;

      .order-detail {
        display: flex;
        justify-content: space-between;
        margin: 10px 0;

        strong {
          font-weight: bold;
          flex-grow: 1;
          text-align: right;
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .search-input {
    max-width: 400px;
  }

  .order-details-container {
    mat-card {
      max-width: 426px;
      margin-top: -113px;
    }
  }
}
