<div class="landing-page"></div>

<section class="welcome">
  <div class="banner-content">
    <h1>Gear Up for Your Best Performance</h1>
    <p>
      Top-quality sports accessories for every athlete. Discover our latest
      collections and exclusive deals.
    </p>
    <a routerLink="/register" class="btn-primary">Sign up</a>
  </div>
</section>

<div class="best-selling-brands">
  <h2>Top selling brands</h2>
  <mat-list class="brand-logos">
    <mat-list-item class="brand">
      <img
        src="/assets/png-transparent-adidas-originals-t-shirt-logo-brand-adidas-angle-text-retail-thumbnail.png"
        alt="logo"
      />
    </mat-list-item>

    <mat-list-item class="brand">
      <img
        src="/assets/reebok-outlet-store-destin-logo-shoe-sneakers-reebok-logo-png-photos.jpg"
        alt="logo"
      />
    </mat-list-item>
    <mat-list-item class="brand">
      <img
        src="/assets/png-transparent-the-north-face-decal-sticker-brand-logo-north-face-text-retail.png"
        alt="logo"
      />
    </mat-list-item>
    <mat-list-item class="brand">
      <img src="/assets/nike_logo.png" alt="logo" />
    </mat-list-item>

    <mat-list-item class="brand">
      <img src="/assets/puma_logo.webp" alt="logo" />
    </mat-list-item>
  </mat-list>
</div>

<section class="featured-products">
  <h2>Featured Products</h2>
  <div class="product-grid">
    <div class="product-card">
      <img src="assets/sport_gloves.webp" alt="Premium Fitness Gloves" />
      <h3>Premium Fitness Gloves</h3>
      <p>$29.99</p>
    </div>
    <div class="product-card">
      <img src="assets/sport_band.avif" alt="Sport Band" />
      <h3>Sport band</h3>
      <p>$39.99</p>
    </div>
    <div class="product-card">
      <img src="assets/gym_set.jpg" alt="Gym Set" />
      <h3>Gym set</h3>
      <p>$59.99</p>
    </div>
    <div class="product-card">
      <img src="assets/water_bottle.webp" alt="Insulated Water Bottle" />
      <h3>Insulated Water Bottle</h3>
      <p>$19.99</p>
    </div>
  </div>
</section>

<section class="categories">
  <h2>Shop by Category</h2>
  <div class="category-grid">
    <div class="category-card">
      <img src="assets/sport_accessories.webp" alt="Accessories" />
      <h3>Sport accessories</h3>
      <a href="/category/gloves">Explore</a>
    </div>
    <div class="category-card">
      <img src="assets/sport_clothes.webp" alt="Clothes" />
      <h3>Sport cloths</h3>
      <a href="/category/bottles">Explore</a>
    </div>
  </div>
</section>

<section class="testimonials">
  <h2>What Our Customers Say</h2>
  <div class="testimonial">
    <p>
      "Best sports accessories I've ever purchased! The quality is unbeatable,
      and delivery was fast!"
    </p>
    <h4>- Alex R.</h4>
  </div>
  <div class="testimonial">
    <p>
      "Amazing products and excellent customer service. My new go-to shop for
      all things fitness!"
    </p>
    <h4>- Jamie L.</h4>
  </div>
</section>

<section class="newsletter">
  <h2>Stay Updated</h2>
  <p>Sign up for exclusive offers, latest trends, promo codes and more!</p>
  <form [formGroup]="emailForm">
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" placeholder="Email" required />
      <mat-error *ngIf="emailForm.controls['email'].errors?.['required']"
        >This input is required</mat-error
      >
    </mat-form-field>
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="emailForm.invalid"
      (click)="subscribe()"
      class="subscribe-button"
    >
      Subscribe
    </button>
  </form>
</section>
