<div *ngIf="cart?.cartItems?.length > 0; else emptyCart">
  <div class="cart-container">
    <h3 class="heading">Your cart</h3>
    <div class="cart-item" *ngFor="let item of cart.cartItems">
      <div class="product-info">
        <div class="product-image">
          <img [src]="item.image.img" alt="product-image" />
        </div>
        <div class="product-details">
          <div class="item-row">
            <div class="item-name" [ngClass]="{ highlight: item.highlight }">
              {{ item?.name }}
            </div>
            <div class="item-price">
              {{ item?.price | currency }}
            </div>
            <div class="quantity-controls">
              <button
                mat-icon-button
                [disabled]="item.quantity == 1"
                (click)="changeItemQuantity(item?.id, false)"
              >
                <mat-icon>remove_circle_outline</mat-icon>
              </button>
              <span class="quantity">{{ item?.quantity }}</span>
              <button
                mat-icon-button
                (click)="changeItemQuantity(item?.id, true)"
              >
                <mat-icon>add_circle_outline</mat-icon>
              </button>
              <div class="total-price">
                Amount: {{ item?.quantity * item.price | currency }}
              </div>
            </div>
          </div>
        </div>
        <div>
          <button
            mat-icon-button
            (click)="deleteItem(item?.id)"
            class="delete-item"
          >
            <mat-icon>delete_outline</mat-icon>
          </button>
        </div>
      </div>
    </div>

    <div class="total-price">
      Total Amount: {{ cart?.totalPrice | currency }}
    </div>
    <div class="total-price" *ngIf="amountAfterDiscount">
      Amount after discount: {{ amountAfterDiscount | currency }}
    </div>
    <div class="total-price" *ngIf="couponCode">
      Applied coupon: {{ couponCode }}
    </div>
    <div>
      <button mat-raised-button color="primary" (click)="placeOrder()">
        Place Order
      </button>
    </div>
  </div>

  <div class="container">
    <form [formGroup]="couponForm" (ngSubmit)="applyCoupon()">
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Code</mat-label>
        <input matInput type="text" placeholder="Code" formControlName="code" />
        <mat-error *ngIf="couponForm.controls['code'].errors?.['required']"
          >This input is required</mat-error
        >
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">
        Apply Coupon
      </button>
    </form>
  </div>
</div>

<ng-template #emptyCart>
  <div class="empty-cart">
    <mat-icon class="icon"> remove_shopping_cart</mat-icon>
    <span>Cart is empty.</span>
  </div>
</ng-template>
